# FILES TO AVOID WHEN MERGING MAIN BRANCH TO PRODUCTION
run.py
app/__init__.py
app/config.py
flask_session/


.DS_Store
__pycache__/
*.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
flask_session/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover