/* FONT & STYLE FOR ALL PAGES*/ 
body{
    font-family: "Montserrat",'sans-serif';
    font-weight: 400;
}



/* UNDERLINE EFFECT WHEN HOVER*/
.dashboard-box-text a {
    display: inline-block;
    position: relative;
}

.dashboard-box-text a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.dashboard-box-text a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.enlace{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #45b3f7;
    font-weight: 600;
}

.enlace::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #45b3f7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.enlace:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* BARRA */
.barra {
    position: fixed;
    left: 0;
    top: 0;
    width: 6rem; /* Ancho inicial */
    height: 100%;
    background-color: #45b3f7;
    transition: all 0.15s; /* Transición para suavizar el cambio de ancho */
    z-index: 999; /* Asegura que esté en la parte superior de otros elementos */
}

.barra:hover {
    width: min-content; /* Ancho al pasar el cursor por encima */
    padding-right: 2rem;
}

.user{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: min-content;
    pointer-events: none;
}

.dashboard-box{
    display: flex;
    align-items: center;
    justify-content: initial;
    height: 20%;
    min-width: min-content;
    pointer-events: none;
    white-space: nowrap;
}

.dashboard-box-icon{
    width: 6rem;
    text-align: center;
}

.dashboard-box-text{
    text-align: left;
    height: max-content;
}

/*      BARRA DESPLEGADA        */
.barra:hover .texto-dentro {
    opacity: 100%;
    z-index: 1000;
}
.barra:hover .dashboard-box{
    pointer-events: all;
}

.texto-dentro {
    opacity: 0%;
    display: block;
    color: white;
    z-index: -1; /* Elemento detrás de la barra */
    text-decoration: none;
    font-size: 1.5rem;
    transition: opacity 0.15s;
}
.texto-dentro a{
    color:white;
    text-decoration: none;
}




/* BLOCK CONTENT*/

body{
    height:100%;
    margin:0;
    overflow:hidden;
}
.content{
    margin-top: 0 !important;
    padding-left: 6rem;
    background-color: #dde4e8;
    height: 100vh;
    width: calc(100vw-6rem);
}
.margen{
    height:1rem;
}




/* DASHBOARD */

.recuadro-superior-dashboard{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 23vh;
}

.recuadro-medio-dashboard{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 43vh;
}

.recuadro-inferior-dashboard{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 23vh;
}


.recuadro-dashboard-33{
    margin-left: 1rem;
    margin-right: 1rem;
    width:33%;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
}

.recuadro-dashboard-66{
    margin-left: 1rem;
    margin-right: 1rem;
    width:69%;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
}

.recuadro-dashboard-50{
    margin-left: 1rem;
    margin-right: 1rem;
    width:50%;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
}



/*   ANALYTICS    */

.recuadro-superior-analytics{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
}
.new-graphic{
    margin-right: 1rem;
    width: 20%; 
    height: 3rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
}

.search-graphic{
    margin-right: 1rem;
    width: 70%; 
    height: 3rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
}

.visualise-options{
    width: 10%; 
    height: 3rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recuadro-inferior-analytics{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: calc(100vh - 4rem);
    justify-content: space-evenly;
    align-items: stretch;
}
.recuadro-inferior-analytics-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc((100vh - 9rem)/2);
    width: 100%;
}
.recuadro-inferior-analytics-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc((100vh - 9rem)/2);
    width: 100%;
}



/*      VIEW 2      */
.view-2-right{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    height: calc(100vh - 13rem);;
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);;
    width: calc(100% - 12rem);
}
.view-2-left{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    margin-left: 2rem;
    margin-right: 1rem;
    height: calc(100vh - 13rem);;
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);;
    width: calc(100% - 12rem);
}



/*      VIEW 4        */
.view-4{
    display: flex;
    align-items: center;
    margin:1rem;
    height: calc((100vh - 10rem)/2);;
    background-color: #ffffff;
    opacity:90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);;
    width: calc(50vw - 6rem);
}




/*      SETTINGS        */

.sets{
    margin-left: 6rem;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}

.box-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    margin-bottom: 2rem;
}




.contenedor-correo {
    width: 50%;
    font-size: 18px;
    margin: 0 auto; 
    text-align: center;
    padding-top: 2rem;
    border-top:0.2rem solid #45b3f7;
}

.fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 1rem 0;
}

.texto {
    width: 10rem;
    font-weight: bold;
    margin-right: 20px;
    text-align: left;
}

.recuadro {
    border: 1px solid #000000;
    border-radius: 10px; 
    background-color: #ffffff;
    padding: 10px; 
    flex: 1; 
    min-width: 100px; 
    overflow: hidden;
}

.form-control {
    border: none; 
    background: none; 
    font-size: 18px; 
    width: 100%; 
    outline: none; 
    text-align: center; 
}

/*      BOTONES     */
.bot-copy {
    margin-left: 1rem;
    background-color: #45b3f7; 
    color: white; 
    border: none; 
    border-radius: 7px;
    cursor: pointer; 
    font-size: 16px; 
    padding: 10px 20px; 
    box-shadow: 2px 2px 5px rgba(108, 108, 108, 0.5);
}

.bot-copy:hover {
    background-color: #094f7a; 
}

/* Estilos para el botón "Save" */
.contenedor-correo form{
    display: flex;
    flex-direction: column;    
}
.save-button {
    background-color: #45b3f7;
    color: white; 
    padding: 15px 30px; 
    border-radius: 7px; 
    cursor: pointer; 
    font-size: 20px; 
    display: block; 
    box-shadow: 2px 2px 5px rgba(108, 108, 108, 0.5);
    border: none;
}

.save-button:hover {
    background-color: #094f7a; 
}


.modebar{
    display: none !important;
}



/*      ICONOS      */

.icono-dashboard{
    color: white;
}
.icono-user{
    color:white;
}
.icono-analytics{
    color:white;
}
.icono-mapview{
    color:white;
}
.icono-settings{
    color: white
}
.icono-boton-options{
    color:#0b1f3f;

}
