/* Estilo base de la barra */
.barra {
    position: fixed;
    left: 0;
    top: 0;
    width: 6rem; /* Ancho inicial */
    height: 100%;
    background-color: #45b3f7;
    transition: width 0.15s; /* Transición para suavizar el cambio de ancho */
    z-index: 999; /* Asegura que esté en la parte superior de otros elementos */
}

/* Estilo cuando se pasa el cursor por encima */
.barra:hover {
    width: 15rem; /* Ancho al pasar el cursor por encima */
    opacity: 100%;
}

.user{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: min-content;
    pointer-events: none;
}

.dashboard-box{
    display: flex;
    align-items: center;
    justify-content: initial;
    height: 20%;
    min-width: min-content;
    pointer-events: none;
    white-space: nowrap;
}

.dashboard-box-icon{
    width: 6rem;
    text-align: center;
}

.dashboard-box-text{
    text-align: left;
    height: max-content;
}

/* Estilo para el texto dentro de la barra cuando está expandida */
.barra:hover .texto-dentro {
    opacity: 100%;
    z-index: 1000;
}
.barra:hover .dashboard-box{
    pointer-events: all;
}
/* Estilo del elemento que contiene el texto */
.texto-dentro {
    opacity: 0%;
    display: block;
    color: white;
    z-index: -1; /* Coloca este elemento detrás de la barra */
    text-decoration: none;
    font-size: 1.5rem;
}
.texto-dentro a{
    color:white;
    text-decoration: none;
}
    

/* BLOCK CONTENT*/

body{
    height:100%;
    margin:0;
    overflow:hidden;
}
.content{
    margin-top: 0 !important;
    background-color: #dbdbdb;
    height: 100vh;
    margin-top: 0rem;
    width: 100vw;
}
.margen{
    height:1rem;
}
.recuadro-superior{
    left: 0;
    top: 0;
    margin-left: 7rem;
    margin-top: 0rem;
    margin-right: 1rem;
    width: calc(100%-5rem); 
    height: 6rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #0b1f3f;
}

.recuadro-inferior{
    margin-bottom: 1rem;
    height: calc(100vh - 9rem);
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #0b1f3f;
    margin-top: 1rem;
    margin-right: 1rem;
    width: calc(100% - 8rem);
    margin-left: 7rem;
}

.recuadro-superior-analytics{
    display: flex;
    flex-direction: row;
}
.new-graphic{
    left: 0;
    top: 0;
    margin-left: 7rem;
    margin-top: 0rem;
    margin-right: 1rem;
    width: 20%; 
    height: 6rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #0b1f3f;
}

.search-graphic{
    left: 0;
    top: 0;
    margin-top: 0rem;
    margin-right: 1rem;
    width: 70%; 
    height: 6rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #0b1f3f;
}

.visualise-options{
    left: 0;
    top: 0;
    margin-top: 0rem;
    margin-right: 1rem;
    width: 10%; 
    height: 6rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #0b1f3f;
}




/* ICONOS */
.icono-dashboard{
    color: white;
}
.icono-user{
    color:white;
}
.icono-analytics{
    color:white;
}
.icono-mapview{
    color:white;
}
.icono-settings{
    color: white
}

/*Settings*/
.sets{
    margin-left: 6rem;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
.box-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}


.set-user {
    margin-left: 10rem; 
}



.contenedor-correo {
    width: 50%;
    font-size: 18px;
    margin: 0 auto; 
    text-align: center;
}


.fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 5% 0;
}


.texto {
    width: 25%;
    font-weight: bold;
    margin-right: 20px;
    text-align: left;
}


.recuadro {
    border: 1px solid #000000;
    border-radius: 10px; 
    background-color: #ffffff;
    padding: 10px; 
    flex: 1; 
    min-width: 100px; 
    overflow: hidden;
}


.form-control {
    border: none; 
    background: none; 
    font-size: 18px; 
    width: 100%; 
    outline: none; 
    text-align: center; 
}

/* Estilos para el botón "copy" */
.bot-copy {
    margin-left: 1rem;
    background-color: #45b3f7; 
    color: white; 
    border: none; 
    border-radius: 7px;
    cursor: pointer; 
    font-size: 16px; 
    padding: 10px 20px; 
    box-shadow: 2px 2px 5px rgba(108, 108, 108, 0.5);
}

.bot-copy:hover {
    background-color: #094f7a; 
}

/* Estilos para el botón "Save" */
.save-button {
    background-color: #45b3f7;
    color: white; 
    padding: 15px 30px; 
    border-radius: 7px; 
    cursor: pointer; 
    font-size: 20px; 
    display: block; 
    margin-left: 23.5rem; 
    box-shadow: 2px 2px 5px rgba(108, 108, 108, 0.5);
    border: none;
}

.save-button:hover {
    background-color: #094f7a; 
}
