/*   MAPVIEW    */

.recuadro-superior-mapview{
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: calc(100vw - 10rem);
    margin-left: 2rem;
    margin-right: 2rem;
    position: absolute;
    top: 2rem;
    left: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    z-index: 11;
}

.search-graphic-mapview{
    position: relative;
    margin-right: 1rem;
    width: 85%;
    height: 3rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}
.visualise-options-mapview{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 15%;
    height: 3rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
    

}
#graph_type_mapview{
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-family: "Montserrat",'sans-serif';
    font-weight: 400;
    font-size: 1rem;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: none;
    color: black;
    cursor: default;
    text-align: center;
}

 
  #graph_type1 {
    display: none;
  }
  
  
  .show-select #graph_type1 {
    display: block; 
  }


#map {
    width: calc(100% - 4rem);
    height: calc(100vh - 8rem);
    margin-top: 6rem;
    margin-left: 2rem;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.5);
}

.form-control{
    border: none; 
    background: none; 
    font-size: 18px; 
    width: 100%; 
    outline: none; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}



