/*      SETTINGS        */

.sets{
    
    text-align: center;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
}

.box-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    margin-bottom: 2rem;
}
.titulo-apartado{
    width: 50%;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 1rem;
    text-align: left;
    
    
}


.apartados-settings {
    width: 50%;
    font-size: 18px;
    margin: 0 auto; 
    text-align: center;
    padding-top: 2rem;
    border-top:0.2rem solid #45b3f7;
}
.apartados-settings3 {
    width: 50%;
    font-size: 18px;
    margin: 0 auto; 
    text-align: center;
    padding-top: 2rem;
    border-top:0.2rem solid #45b3f7;
    
}


.fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 1rem 0;
}

.texto {

    width: 12rem;
    font-weight: bold;
    margin-right: 20px;
    text-align: left;
}
.texto-titulo {

    width: 12rem;
    font-weight: bold;

}
.recuadro {
    border: 1px solid #000000;
    border-radius: 10px; 
    background-color: #ffffff;
    padding: 10px; 
    flex: 1; 
    min-width: 100px; 
    overflow: hidden;
    border: none;
}

.form-control{
    border: none; 
    background: none; 
    font-size: 18px; 
    width: 100%; 
    outline: none; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px;
}
.recuadro1 {
    border: 1px solid #000000;
    border-radius: 10px; 
    background-color: #ffffff;
    
    flex: 1; 
    min-width: 100px; 
    overflow: hidden;
    border: none;
}


  select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-family: "Montserrat",'sans-serif';
    font-weight: 400;
    font-size: 1rem;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: none;
    
    color: black;
    cursor: default;
    text-align: center;
}

.upload-file-button {
    background-color: #45b3f7;
    color: white;
    padding: 15px 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(108, 108, 108, 0.5);
    border: none;
    cursor: pointer;
    font-size: 16px; 
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 6rem;
    font-weight: 600;
    
}
.upload-file-button:hover {
    background-color: #094f7a; 
}

#excelFile {
    display: none;
}




#uploadButton {
    margin-top: 10px;
}
