{% extends 'template.html' %}

{% block title %} Analytics {% endblock %}
{% block content %} 
        <div class="margen">
        </div>
        <div class="recuadro-superior-analytics" >
            <div class="new-graphic">

            </div>
            <div class="search-graphic">

            </div>
            <div class="visualise-options">
                <i class="fa fa-bars fa-2x icono-boton-options" aria-hidden="true"></i>
            </div>
        </div>
        <div class="recuadro-inferior-analytics" >
            <div class="recuadro-inferior-analytics-top">
                <div class="view-4" ></div>
                <div class="view-4" ></div>
            </div>
            <div class="recuadro-inferior-analytics-bottom">
                <div class="view-4" ></div>
                <div class="view-4" ></div>
            </div>
            
            

        </div>

        <script>
            const plot = {{ plots | tojson | safe }};   
            const containers = document.getElementsByClassName("view-4"); 
            var graph_divs = [];           
            
            create_all();
            window.onload = load_all;
            window.addEventListener('resize',load_all);

        </script>

{% endblock %}
