{% extends 'template.html' %}

{% block title %} Dashboard {% endblock %}
{% block content %} 
        <div class="margen">
        </div>
        <div class="recuadro-superior-dashboard" >
            <div class="graph-container recuadro-dashboard-33">
            </div>
            <div class="graph-container recuadro-dashboard-33">
            </div>
            <div class="graph-container recuadro-dashboard-33">
            </div>
        </div>
        <div class="recuadro-medio-dashboard" >
            <div class="graph-container recuadro-dashboard-66" >

            </div>
            <div class="graph-container recuadro-dashboard-33" >

            </div>
        </div>
        <div class="recuadro-inferior-dashboard" >
            <div class="graph-container recuadro-dashboard-50">
            </div>
            <div class="graph-container recuadro-dashboard-50">
            </div>
        </div>

        <script>
            const plot = {{ plots | tojson | safe }};   
            const containers = document.getElementsByClassName("graph-container"); 
            var graph_divs = [];           
            
            create_all();
            window.onload = load_all;
            window.addEventListener('resize',load_all);

        </script>

{% endblock %}
