<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/gif/eds_icon.ico"/>
    <link rel="stylesheet" href="../static/css/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    
</head>
<body>
    <div class="auth-wrapper">
        <div class="container-form">
            <img src="../static/gif/eds_logo_transparent.png" class="logo-eds">
        </div>
        <div class="container-form">
            <div class="form-wrapper">
                <h2>Login</h2>
                <form method="POST" id="login_form">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>           
                    <button type="submit" class="auth-button" id='login_button'>Login</button>
                </form>
                <br>
                <p>Are you new? <a href={{ sign_up_url }} class="enlace">Sign up</a></p>
            
                {{ error | safe}}
            </div>
        </div>
    </div>
</body>
    
</html>
