{% extends 'template.html' %}

{% block title %} Mapview {% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/mapview.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
    <script src="../static/js/map.js"></script>
{% endblock %}

{% block content %} 

<form method='POST' name="mapview_form">    

    <div class="recuadro-superior-mapview">
            
            <div class="filter-axis-mapview">
                <div class="Xdropdown">
                    <input type="text" placeholder="Select variable..." onclick="showAllOptions('X_dropdown','.Xdropdown')" oninput="filterOptions('X_dropdown','X_dropdownInput')" id="X_dropdownInput" name="graph_data_x" autocomplete='off'>
                    <div id="X_dropdown" class="dropdown-content" onclick="selectOption(event,'X_dropdown','X_dropdownInput','.Xdropdown')">
                        <!-- Dropdown options will be dynamically added here -->
                    </div>
                </div>
            </div>
            <div class="visualise-options-mapview">
                <div class="VINdropdown">
                    <input type="text" placeholder="Search VIN..." onclick="showAllOptions('VIN_dropdown','.VINdropdown')" oninput="filterOptions('VIN_dropdown','VIN_dropdownInput')" id="VIN_dropdownInput" name="VIN_selector" autocomplete='off'>
                    <div id="VIN_dropdown" class="dropdown-content" onclick="selectOption(event,'VIN_dropdown','VIN_dropdownInput','.VINdropdown')">
                        <!-- Dropdown options will be dynamically added here -->
                    </div>
                </div>
            </div>
            <div class="contenedorfilter-mapview">      
                <button type="submit" id="filter-button-mapview" class="filter-button-mapview">Filter</button>
            </div>
        
        
    </div>
</form>
    
    
    <div id="map-container">
        <div id="map" class="grayscale-map"></div>
    </div>

    
    <script>
        const fig = JSON.parse({{fig | tojson | safe}});
                       
        generate_map(fig);

        // Populate the dropdown with options
        const VIN_options = {{available_vin | safe}};
            var VIN_dropdownContent = document.getElementById("VIN_dropdown");
            VIN_options.forEach(function (option) {
                var a = document.createElement("a");
                a.textContent = option;
                a.href = "#";
                VIN_dropdownContent.appendChild(a);
            });

        // Populate the dropdown with options
        const var_options = {{columns_list | safe}};
        var X_dropdownContent = document.getElementById("X_dropdown");
        var_options.forEach(function (option) {
            var a = document.createElement("a");
            a.textContent = option;
            a.href = "#";
            X_dropdownContent.appendChild(a);
        });
    

        // Set the selected VIN on the dropdown as default
        var vin_selected = '{{ vin_selected | safe}}';
        document.getElementsByName("VIN_selector")[0].value = vin_selected;

        // Set the selected variable on the dropdown as default
        var column_selected = '{{ column_selected | safe}}';
        document.getElementsByName("graph_data_x")[0].value = column_selected;
                        
    </script>
    
    
    
{% endblock %}
