{% extends 'template.html' %}

{% block title %} Mapview {% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/mapview.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
{% endblock %}

{% block content %} 

    <div class="contenido">
        <div class="a">
            <div class="recuadro-superior-mapview">
                
                <div class="search-graphic-mapview">
                    <input type="text" class="form-control" name="entity_name" placeholder="Search" >
                </div>
                <div class="visualise-options-mapview">
                    <select id="graph_type_mapview" name="graph_type_mapview">
                        <option value="option1">Opción 1</option>
                        <option value="option2">Opción 2</option>
                    </select>
                </div>
                
                
            </div>
        </div>
        
        <body>
            <div id="map-container">
                <div id="map" class="grayscale-map"></div>
            </div>
            <script>
                var map = L.map('map').setView([41.373349, 2.06085], 10);

                L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '© <a href="https://carto.com/attributions">CARTO</a>'
                }).addTo(map);

                //añadimos los puntos
                var puntos = [
                    [41.373349, 2.06085],
                    [41.37457763574095, 2.062641146649088],
                    [41.37467827273396, 2.064851286867785]
                    
                ];

                
                var heatLayer = L.heatLayer(puntos, {
                    radius: 20,
                    gradient: { 0.4: 'white', 0.65: 'gray', 1: 'black' } // Define la paleta de colores
                }).addTo(map);

                
                puntos.forEach(function (coordenada) {
                    L.marker(coordenada, { icon: L.divIcon({ className: 'red-marker' }) }).addTo(map);
                });
            </script>
        </body>
    </div>
    
    
    
{% endblock %}
