{% extends 'template.html' %}

{% block title %} Mapview {% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/mapview.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
    <script src="../static/js/map.js"></script>
{% endblock %}

{% block content %} 

    
    <div class="recuadro-superior-mapview">
        
        <div class="search-graphic-mapview">
            <input type="text" class="form-control" name="entity_name" placeholder="Search" >
        </div>
        <div class="visualise-options-mapview">
            <div class="dropdown">
                <input type="text" placeholder="Search VIN..." onclick="showAllOptions()" oninput="filterOptions()" id="dropdownInput" name="VIN_selector" autocomplete='off'>
                <div id="myDropdown" class="dropdown-content" onclick="selectOption(event)">
                    <!-- Dropdown options will be dynamically added here -->
                </div>
            </div>
        </div>
        
        
    </div>
    
    
    <div id="map-container">
        <div id="map" class="grayscale-map"></div>
    </div>

    
    <script>
        const fig = JSON.parse({{fig | tojson | safe}});
                       
        generate_map(fig);
        
        // Populate the dropdown with options
        const options = {{available_vin | safe}};
        var dropdownContent = document.getElementById("myDropdown");
        options.forEach(function (option) {
            var a = document.createElement("a");
            a.textContent = option;
            a.href = "#";
            dropdownContent.appendChild(a);
        });
                        
    </script>
    
    
    
{% endblock %}
