{% extends 'template.html' %}

{% block title %} New Graphic {% endblock %}
{% block head%} 
<link rel="stylesheet" href="../static/css/newgraphic.css">
{% endblock %}

{% block content %} 
        
        <div class="margen">
        </div>
        
        <div class="recuadro-superior-newgraphic" >
            <form method="POST" name="newgraphic_form">

                <div class="custom-select-newgraphic" >
                    <select id="graph_type" name="graph_type" placeholder="Select Graph Type:">
                      <option value="none">Select Graph Type:</option>
                      <option value="Pie_Chart">Pie Chart</option>
                      <option value="Bar_Chart">Bar Chart</option>
                      <option value="Histogram_Distribution">Histogram / Distribution</option>
                      <option value="Scatter_Plot">Scatter Plot</option>
                      <option value="Line_Chart">Line Chart</option>
                      <option value="Box_Plot">Box Plot</option>
                    </select>
                </div>

                
                <div class="custom-select-newgraphic" >
                    <div class="VINdropdown">
                        <input type="text" placeholder="Search VIN..." onclick="showAllOptions('VIN_dropdown','.VINdropdown')" oninput="filterOptions('VIN_dropdown','VIN_dropdownInput')" id="VIN_dropdownInput" name="VIN_selector" autocomplete='off'>
                        <div id="VIN_dropdown" class="dropdown-content" onclick="selectOption(event,'VIN_dropdown','VIN_dropdownInput','.VINdropdown')">
                            <!-- Dropdown options will be dynamically added here -->
                        </div>
                    </div>
                </div>

                <div class="new-graphic-superior" >
                    <input type="text" class="new-graphic-input" id="graph_title" name="graph_title" placeholder="Enter Graph Title" value="">
                </div>

                <div class="custom-select-newgraphic" >
                    <div class="Xdropdown">
                        <input type="text" placeholder="Select 'x' variable..." onclick="showAllOptions('X_dropdown','.Xdropdown')" oninput="filterOptions('X_dropdown','X_dropdownInput')" id="X_dropdownInput" name="graph_data_x" autocomplete='off'>
                        <div id="X_dropdown" class="dropdown-content" onclick="selectOption(event,'X_dropdown','X_dropdownInput','.Xdropdown')">
                            <!-- Dropdown options will be dynamically added here -->
                        </div>
                    </div>
                </div>

                <div class="custom-select-newgraphic"  >
                    <div class="Ydropdown">
                        <input type="text" placeholder="Select 'Y' variable(s)..." onclick="Multiple_showAllOptions('Y_dropdown','.Ydropdown')" oninput="filterOptions('Y_dropdown','Y_dropdownInput')" id="Y_dropdownInput" name="graph_data_y" autocomplete='off' readonly>
                        <div id="Y_dropdown" class="dropdown-content" onclick="Multiple_selectOption(event,'Y_dropdown','Y_dropdownInput','.Ydropdown')">
                            <!-- Dropdown options will be dynamically added here -->
                        </div>
                    </div>
                </div>


        </div>
        <li class="recuadro-inferior-newgraphic" >
            <div class="recuadro-in-left-newgraphic"id="trendline_block1">
                <div class="new-graphic-superior-left" >
                    <input type="checkbox" id="trendline" name="trendline" class="trendline-newgraphic">
                      VIN Trendline
                </div>
            </div>
            <div class="recuadro-in-left-newgraphic"id="trendline_block2">
                <div class="new-graphic-superior-left" >
                    <input type="checkbox" id="trendline_global" name="trendline_global" class="trendline-newgraphic">
                      General Trendline
                </div>
            </div>
            <div class="recuadro-in-middle-newgraphic">
                <button type="submit"  class="new-graphic-save">Generate Graphic</button>
            </div>
            
        </li>
        </form>
        <div class="recuadro-medio-newgraphic" >
            <div class="graph-container recuadro-w100" >
            </div>
        </div>
        


        <script>
            var config = {{config | safe }};
            var graph_type ;
            var graph_title ;
            var graph_data_x;
            var graph_data_y;
            var trendline ;
            var trendlineblock ;
            var trendline_global ;
            var trendlineblock_global ;
            var VIN_select;
            
            // CHECK IF ELEMENT IN MULTI-SELECTION IS DEFAULT SELECTED
            const stringArray = config[3].split(',').map(item => item.trim());

            // Populate the dropdown with options
            const VIN_options = {{available_vin | safe}};
            var VIN_dropdownContent = document.getElementById("VIN_dropdown");
            VIN_options.forEach(function (option) {
                var a = document.createElement("a");
                a.textContent = option;
                a.href = "#";
                VIN_dropdownContent.appendChild(a);
            });

            // Populate the dropdown with options
            const var_options = {{columns_list | safe}};
            var X_dropdownContent = document.getElementById("X_dropdown");
            var Y_dropdownContent = document.getElementById("Y_dropdown");
            var_options.forEach(function (option) {
                var a = document.createElement("a");
                a.textContent = option;
                a.href = "#";
                X_dropdownContent.appendChild(a);
            });
            var_options.forEach(function (option) {
                var a = document.createElement("a");
                a.textContent = option;
                a.href = "#";
                // Check if the value is in the array
                if (stringArray.includes(option)){
                    a.classList.toggle("selected");
                }
                
                Y_dropdownContent.appendChild(a);
            });
            

            const plot = {{ plots | tojson | safe }}; 
            const containers = document.getElementsByClassName("graph-container"); 
            var graph_divs = [];
            
            if (containers[0].childElementCount == 0){
                create_newgraphic(); 
            }

            
            
            

            function default_config() {
                if (graph_type.value == "Pie_Chart" || graph_type.value == "Histogram_Distribution" || graph_type.value == "Box_Plot") {
                    graph_data_x.style.display = "none";
                } else {
                    graph_data_x.style.display = "block"; 
                }
                if(graph_type.value == "Scatter_Plot" ){
                    trendline.style.display="flex";
                    trendlineblock.style.display="flex";
                    trendline_global.style.display="flex";
                    trendlineblock_global.style.display="flex";
                    
                } else {
                    trendline.style.display="none"
                    trendlineblock.style.display="none"
                    trendline_global.style.display="none"
                    trendlineblock_global.style.display="none"
                }
            }
            

            window.onload = function() {
                graph_type = document.getElementById("graph_type") ;
                VIN_select= document.getElementsByName("VIN_selector")[0];
                graph_title = document.getElementById("graph_title");
                graph_data_x = document.getElementsByName("graph_data_x")[0];
                graph_data_y = document.getElementsByName("graph_data_y")[0];
                trendline = document.getElementById("trendline");
                trendlineblock = document.getElementById('trendline_block1');
                trendline_global = document.getElementById("trendline_global");
                trendlineblock_global = document.getElementById('trendline_block2');

                graph_type.value = config[0];
                graph_title.value = config[1];
                graph_data_x.value = config[2];
                graph_data_y.value = config[3];
                VIN_select.value = config[4];

                if (config[5] == "on"){
                    trendline.checked = true;
                }else{
                    trendline.checked = false;
                }

                if (config[6] == "on"){
                    trendline_global.checked = true;
                }else{
                    trendline_global.checked = false;
                }                

                graph_type.addEventListener("change", default_config);
                default_config();
            };
            
                        
        </script>

{% endblock %}
