{% extends 'template.html' %}

{% block title %} New Graphic {% endblock %}
{% block content %} 
        <div class="margen">
        </div>
        
        <div class="recuadro-superior-analytics" >
            <form method="POST" name="newgraphic_form">

                <div class="custom-select" >
                    <select id="graph_type" name="graph_type" placeholder="Select Graph Type:">
                      <option value="none">Select Graph Type:</option>
                      <option value="Pie_Chart">Pie Chart</option>
                      <option value="Bar_Chart">Bar Chart</option>
                      <option value="Histogram_Distribution">Histogram / Distribution</option>
                      <option value="Scatter_Plot">Scatter Plot</option>
                      <option value="Line_Chart">Line Chart</option>
                    </select>
                </div>

                <div class="new-graphic-superior" >
                    <input type="text" class="new-graphic-input" id="graph_title" name="graph_title" placeholder="Enter Graph Title" value="">
                </div>

                <div class="custom-select" >
                    <select  name="graph_data_x" id="graph_data_x" placeholder="Select Graph Data 'x':" >
                        <option value="">Select Graph Data "x":</option>
                        {% for col in columns_list %}
                            <option value="{{ col }}"> {{ col }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="custom-select" >
                    <select  multiple name="graph_data_y" placeholder="Select Graph Data 'y':">
                        <option value="">Select Graph Data "y":</option>
                        {% for col in columns_list %}
                            <option value="{{ col }}"> {{ col }} </option>
                        {% endfor %}
                    </select>
                </div>


        </div>
        <div class="recuadro-medio-newgraphic" >
            <div class="graph-container recuadro-w100" >

            </div>
        </div>
        <li class="recuadro-inferior-newgraphic" >
            <button type="submit"  class="new-graphic-save">Generate Graphic</button>
        </li>
        </form>


        <script>

            const plot = {{ plots | tojson | safe }}; 
            const containers = document.getElementsByClassName("graph-container"); 
            var graph_divs = [];        
            
            
            
            if (containers[0].childElementCount == 0){
                create_all(); 
            }
            
            window.onload = load_all;
                        
        </script>

{% endblock %}
