{% extends 'template.html' %}

{% block title %} Settings {% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/settings.css">

<div class="sets">
    <!--<div class="box-user">
        <i class="fa fa-user-circle fa-5x set-user"> </i>
    </div>-->
    <div class="titulo-apartado">
        <span class="texto-titulo">Profile</span>
    </div>
    <div class="apartados-settings">
        <div class="fila">
            <span class="texto">Mail:</span>
            <span class="recuadro">{{session['user_email'] | safe}}</span>
        </div>
        
        <div class="fila">
            <span class="texto">Personal Token:</span>
            <span class="recuadro">{{ session['personal_token'] | safe}}</span>
            <button class="bot-copy" onclick="copytoken()">Copy</button>
        </div>
        <!--input para nombre empressa y token entity-->
        <form name="formsettings1" method="POST">
            <div class="fila">
                <span class="texto">Entity Name:</span>
                <span class="recuadro">
                    <input type="text" class="form-control" name="entity_name" placeholder="Enter Entity Name" value="{{ session['org_name'] | safe }}">
                </span>

            </div>
            <div class="fila">
                <span class="texto">Entity Token:</span>
                <span class="recuadro">
                    <input type="text" class="form-control" name ="entity_token" placeholder="Enter Entity Token" value="{{ session['external_token'] | safe }}">
                </span>
            </div>  
            <div class="contenedorsave">      
                <button type="submit"  class="save-button">Save</button>
            </div>
        </form>
        <div class="mensaje">
            <p>Click <a class="enlace" href={{ url_change_password | safe }}>here</a> to change your password.</p>
        </div>
    </div>
    <div class="titulo-apartado">
        <span class="texto-titulo">Dashboard Default Settings</span>
    </div>
    <div class="apartados-settings">
        <form name="formsettings2" method="POST">
            
            <div class="fila">
                <span class="texto">Data Retrieval:</span>
                
                <div class="recuadro1" >
                    <select id="data_read" name="data_read" placeholder="Select Data Read:">
                        <!--<option value="none">Select Data Read</option>-->
                         <!--<option value="30days">Last 30 Days</option>-->
                        <option value="actual_month">Actual Month</option>
                         <!--<option value="last_month">Last Month</option>-->
                         <!--<option value="last_3_months">Last 3 Months</option>-->
                    </select>
                </div>
            </div> 

            <div class="fila"> 
                <span class="texto">Default Scatter Data Points:</span>
                <span class="recuadro">
                    <input type="text" class="form-control" name="number_rows" placeholder="Enter Number of rows" value="1.000" readonly>
                </span>
            </div> 


            <div class="fila">
                <span class="texto">Downsampling type function:</span>
                
                <div class="recuadro1" >
                    <select id="downsampling" name="downsampling" placeholder="Select function type">
                        <option value="none">Select Function Type</option>
                        <option value="averaging">Averaging</option>
                        <option value="extremes">Extremes</option>
                    </select>
                </div> 
                  
            </div> 
            

            <div class="contenedorsave">      
                <button type="submit"  class="save-button">Save Settings</button>
            </div>
        </form>      
    </div>


    <div class="titulo-apartado">
        <span class="texto-titulo">Data Collection</span>
    </div>
    <div class="apartados-settings3">
        <form name="formsettings" method="POST">
            <div class="fila">
                <span class="texto">Data Source:</span>
                <div class="recuadro1" >
                    <select id="data-source" name="data-source" onchange="showUploadButton(this.value)" placeholder="Select Data Source:">
                        <option value="none">Select Data Source</option>
                        <option value="excel">Excel</option>
                        <option value="SQL">SQL</option>
                    </select>
                </div>
            </div> 
            <div id="uploadButton" style="display: none;">
                <input type="file" id="excelFile" name="excelFile" accept=".xlsx, .xls" onchange="updateFileName()" />
                <label for="excelFile" class="upload-file-button">Cargar Archivo</label>
                <span id="file-name"></span>
            </div>
        </form> 
    </div>    
</div>



<script>
    function copytoken(){
        var token = "{{ session['personal_token'] }}";
        navigator.clipboard.writeText(token);
        alert("Token Copied!");
    }
    function showUploadButton(value) {
        var uploadButton = document.getElementById('uploadButton');
        if(value === 'excel') {
            uploadButton.style.display = 'block';
        } else {
            uploadButton.style.display = 'none';
            document.getElementById('file-name').textContent = ''; 
        }
    }
    
    function updateFileName() {
        var inputFile = document.getElementById('excelFile');
        var fileNameSpan = document.getElementById('file-name');
        if(inputFile.files.length > 0) {
            fileNameSpan.textContent = inputFile.files[0].name;
        } else {
            fileNameSpan.textContent = 'No se ha seleccionado ningún archivo';
        }
    }
    

</script>

{% endblock %}
