<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} </title>
    <link rel="shortcut icon" href="../static/gif/eds_icon.ico"/>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <script src="../static/js/load_graphs.js"></script>
    <script src="../static/js/searchable_dropdown.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.26.0.min.js'></script>
    {% block head%} {% endblock %}
    
</head>
<body>
    <div id="loading">
        <div class="loading-gif">
            <img src="/static/gif/R.gif">
        </div>
    </div>
    <!-- Barra Vertical -->
    <div class="barra">
        <div class="user">
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <i class="fa fa-user-circle fa-3x icono-user"> </i>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <p class="texto-dentro"> Hello, <b>{{session['user_email'].split("@")[0] | safe}}</b></p> 
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/dashboard"> <i class="fa fa-home fa-3x icono-dashboard"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/private/dashboard"> Dashboard</a> 
                </div>
            </div>
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/newgraphic"> <i class="fa fa-line-chart fa-3x icono-dashboard"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/private/newgraphic"> New Graphic</a> 
                </div>
            </div>
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/analytics"> <i class="fa fa-bar-chart fa-3x icono-analytics"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/private/analytics"> Analytics</a> 
                </div>
            </div>
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/mapview"> <i class="fa fa-map-marker fa-3x icono-mapview"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/private/mapview"> Mapview</a> 
                </div>
            </div>
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/aichat"> <i class="fa fa-comments-o fa-3x icono-ai_chat"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/private/aichat"> AI Chat</a> 
                </div>
            </div>
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/production"> <i class="fa fa-wrench fa-3x icono-production"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/private/production"> Production</a> 
                </div>
            </div>
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/settings"> <i class="fa fa-cogs fa-3x icono-settings"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/private/settings"> Settings</a> 
                </div>
            </div>
            
        </div>


        <div class="logout">
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="/private/settings"> <i class="fa fa-sign-out fa-3x icono-logout"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="/auth/logout"> Logout</a> 
                </div>
            </div>

        </div>

    </div>    

    <!-- Contenido de la página -->
    <div class="content">
        {% block content %} 
        {% endblock %}
    </div>
    
    <script>
        // Función para ocultar el GIF de carga y mostrar el contenido
        function hideLoading() {
            document.getElementById("loading").style.display = "none";
        }

        // Espera a que el contenido de la página esté completamente cargado
        window.addEventListener("load", hideLoading);
    </script>
    

    

</body>

</html>

