<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra Vertical Expandible</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Barra Vertical -->
    <div class="barra">
        <div class="user">

        </div>

        <div class="menu">
            <div class="dashboard-box">
                <div class="dashboard-box-icon">
                    <a href="#"> <i class="fa fa-home fa-3x icono-dashboard"> </i> </a>
                </div>
                <div class="dashboard-box-text">
                    <!-- Texto dentro de la barra -->
                     <a class="texto-dentro" href="#"> Dashboard </a> 
                </div>
            </div>
            <div class="analytics-box">
                <a href="#"> <i class="fa fa-bar-chart fa-3x icono-analytics" aria-hidden="true"> </i> </a>
                        <!-- Texto dentro de la barra -->
                <a class="texto-dentro" href="#"> Analytics </a> 
            </div>
        </div>

        <div class="settings">

        </div>

        
        

    </div>

    <!-- Contenido de la página -->
    <div style="margin-left: 6rem;">
        <h1>Efecto de Barra Vertical Expandible</h1>
        <p>Pasa el cursor por encima de la barra a la izquierda para ver el texto dentro de la barra.</p>
    </div>
</body>
</html>

